ENV["FACEBOOK_APP_ID"] = "FACEBOOK APP ID"
ENV["FACEBOOK_APP_SECRET"] = "FACEBOOK APP SECRET"

ENV["GOOGLE_CLIENT_ID"] = "CLIENT ID"
ENV["GOOGLE_CLIENT_SECRET"] = "CLIENT SECRET"

ENV["STRIPE_SECRET_KEY"] = "STRIPE_SECRET_KEY"
ENV["STRIPE_PUBLISHABLE_KEY"] = "STRIPE_PUBLISHABLE_KEY"

ENV["EMAIL_USER_NAME"] = "EMAIL_USER_NAME"
ENV["EMAIL_PASSWORD"] = "EMAIL_PASSWORD"
