%h2 This is your personal information:
%h4
  First Name: #{current_user.first_name}
%h4
  Last Name: #{current_user.last_name}
%h4
  Email: #{current_user.email}
%h4
  Subscription: #{current_user.subscription_id}
  
