<h3>Hello Admin,</h3>

<p>
	You've got a new message from the Sample Subscription App.
	To view it on the activeadmin platform,	<a href="localhost:3000/admin/contacts/#{@contact.id}">CLICK HERE</a>
</p>

<h5>Regards,<br />
Sample Subscription App Team</h5>
