<div id="footer">
	<div class="container-fluid">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<ul>
				<h2>INFORMATION</h2>
				<hr>
				<li class="footer-font-color"><%= link_to "Contact Us", contact_us_path %></li>
				<li class="footer-font-color"><%= link_to "Shipping Policy", shipping_path %></li>
				<li class="footer-font-color"><%= link_to "Terms and Conditions", terms_path %></li>
				<li class="footer-font-color"><%= link_to "Privacy", privacy_path %></li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<ul>
				<h2>SOCIAL MEDIA</h2>
				<hr>
				<li class="footer-font-color"><a class="fa fa-twitter" href="https://twitter.com/" target="_blank"><span>Twitter</span></a></li>
				<li class="footer-font-color"><a class="fa fa-facebook" href="https://www.facebook.com/" target="_blank"><span>Facebook</span></a></li>
				<li class="footer-font-color"><a class="fa fa-instagram" href="https://instagram.com/" target="_blank"><span>Instagram</span></a></li>
				<li class="footer-font-color"></li>
			</ul>
		</div>
	</div>
</div>
